* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  background-image: var(--bg-gradient);
  min-height: 100vh;
  color: var(--text-primary);
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
}

.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}
